<header>
	<h1> Chinese Chocolate  </h1>
</header>
<body>

<nav id="menubar">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Gallery</a></li>

	</ul>


</nav>
</body>